@import "../layouts";
@import "../colors";

.home header[role="main"] {
  $stripe-clearance: 200px;

  position: relative;
  padding-bottom: $stripe-clearance + 100px;
  margin-bottom: -$stripe-clearance;

  &:before {
    background: white;
    content: "";
    display: block;
    height: 80%;
    position: absolute;
    top: calc(100% - #{$stripe-clearance} - 25px);
    transform: skewY(-7deg);
    width: 100%;
  }

  .button {
    display: block;
    margin: 30px auto 0px;
    position: relative;
    width: 180px;
  }
}
