@import "../layouts";

footer[role="main"] {
  color: white;
  padding-bottom: $section-gutter;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    text-align: center;
    margin-top: 15px;
  }

  .logo {
    max-width: 225px;
    width: 100%;
    display: block;

    &.icon {
      width: auto;
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  p {
    margin: 20px 0;
    text-align: right;
    max-width: 15em;
  }

  a {
    &:link, &:visited, &:hover, &active {
      color: white;
    }
  }

  @media (max-width: 768px) {
    .container {
      display: block;
    }

    img {
      margin: 0 auto;
    }

    p {
      text-align: center;
      max-width: initial;
    }
  }
}
