@import "../layouts";
@import "../colors";

.shirt_size_input {
  font-size: 0.8em;

  > div {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: $radius;
    margin-bottom: 10px;
  }

  span {
    flex: 1;
    text-align: center;
    display: block;
    border-right: 1px solid white;
    padding: 0;

    &:last-child {
      border-right: none;
    }
  }

  label label {
    padding: 10px 0;
    display: block;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      background: white;
      color: $secondary;
    }
  }
}
