@import "../colors";
@import "../layouts";

.page-apply {
  background: $secondary;
  color: white;
}

header.apply {
  background: none !important;
}

.apply {
  color: white;
  padding: $section-gutter 0;

  .button {
    display: block;
    margin: 0 auto;
  }
}

header.apply_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -40px;

  h2 {
    text-align: left;
  }

  .save_status {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.8);
  }
}

.apply_sections {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  a {
    color: white;
    text-decoration: none;
    flex: 1;
    text-align: center;
    display: block;
    padding-bottom: 20px;
    background-position: bottom center;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.75;
    }

    &.current {
      opacity: 1;
    }

    &.completed {
      background-image: image-url("icons/completed.svg");
    }

    &.incomplete {
      background-image: image-url("icons/incomplete.svg");
    }
  }
}

.apply_initial {
  position: relative;
  padding: $section-gutter 0;
  margin-top: 100px;

  &:before {
    background: $secondary;
    content: "";
    display: block;
    height: 110%;
    width: 100%;
    position: absolute;
    top: -2%;
    transform: skewY(-7deg);
  }
}
