@import "../colors";
@import "../layouts";

.button {
  background: $theme;
  border-radius: $radius;
  display: inline-block;
  min-width: 120px;
  padding: 13px;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 5px transparent;
  outline: 0;

  &:hover {
    transform: scale(1.05);
  }

  &[disabled="disabled"] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }

  &:focus {
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  }

}
