@import "../layouts";

.input {
  margin-bottom: 20px;

  > label {
    display: block;
    margin-bottom: 3px;
    font-size: 0.8em;
  }
}

.input.string, .input.email, .input.tel, .input.text {
  input, textarea {
    background: rgba(255, 255, 255, 0.15);
    border-radius: $radius;
    border: 1px solid white;
    box-shadow: 0px 0px 5px transparent;
    box-sizing: border-box;
    color: white;
    font-size: 0.9em;
    font: inherit;
    outline: 0;
    padding: 9px;
    transition: box-shadow 0.15s ease;
    width: 100%;

    &:focus {
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  textarea {
    resize: vertical;
    min-height: 150px;
  }
}

.input.boolean, .input.check_boxes, .input.radio_buttons {
  cursor: pointer;

  input {
    margin-right: 5px;
  }

  input, label {
    cursor: pointer;
  }
}

span.checkbox, span.radio {
  display: block;
  margin: 10px 0;
}
